<% content_for :subheader do %>
  <h1>AJT</h1>
<% end %>

<div id="welcome-message">
  <div class="container">
    <h1>
      Discover atractive Japanese tours!
      <br>
      Choose <a href="#">anything</a> you wish, we’ll help you travel <a href="#">anywhere</a> in Japan!
    </h1>
  </div>
</div>

<div class="container">
  <div id="featured-tours" class="row">
    <h3>Featured Tours</h3>
    <hr>
  </div>

  <div id="latest-tours" class="row">
    <h3>Latest Tours</h3>
    <hr>
  </div>
</div>
