<% if target.errors.any? %>
  <div id="errorExplanation" class="errorExplanation">
    <p>
      The form contains <%= pluralize(target.errors.count, "error") %>.
    </p>
    <ul>
    <% target.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>