@import 'skeleton/base';
@import 'skeleton/layout';
@import 'skeleton/skeleton';

@import 'normalize';
@import 'variables';

@import 'debug';

/*--------------------------------------*/
/* Basic styles
/*--------------------------------------*/
body {
  font-family: $ff_base;
  font-size: $base_font_size;
  font-weight: 400;
  color: $body_text_color;
  line-height: 18px;
  background-color: $layout_background_color;
  -webkit-font-smoothing: antialiased;
}

/* Line style */
hr {
  height: 0;
  background-color: transparent;
  color: transparent;
  border: none;
  border-bottom: $default_border;
}

/*--------------------------------------*/
/* Links
/*--------------------------------------*/
a {
  text-decoration: none;
  color: $link_text_color;

  &:hover {
    color: darken($link_text_color, 10);
  }

  &:active, &:focus {
    outline: none;
  }
}

/*--------------------------------------*/
/* Lists
/*--------------------------------------*/
ul, ol {
  margin-left: 0;
  margin-top: 0;
  -webkit-padding-start: 0px;
  padding-left: 0;
  list-style-position: inside;

  &.inline {
    li {
      display: inline-block;
    }
  }
}

/*--------------------------------------*/
/* Headers
/*--------------------------------------*/
h1 { font-size: $heading_font_size;         line-height: $heading_font_size + 10;         }
h2 { font-size: $heading_font_size - 2;     line-height: $heading_font_size - 2 + 10;     }
h3 { font-size: $heading_font_size - 4;     line-height: $heading_font_size - 4 + 10;     }
h4 { font-size: $heading_font_size - 6;     line-height: $heading_font_size - 6 + 10;     }
h5 { font-size: $sub_heading_font_size;     line-height: $sub_heading_font_size + 10;     }
h6 { font-size: $sub_heading_font_size - 2; line-height: $sub_heading_font_size - 2 + 10; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: $title_text_color;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/*--------------------------------------*/
/* Forms
/*--------------------------------------*/
textarea, input {
  border: $default_border;
  padding: 5px 10px;
  font-family: $ff_base;
  font-size: $input_box_font_size;

  &:active, &:focus {
    border-color: $link_text_color;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }

  &.error {
    border-color: $c_red;
  }
}

label.error {
  display: block;
  font-size: $base_font_size - 1;
  color: $c_red;
  margin-top: 3px;
}

span.required {
  color: $c_red;
  font-weight: bold;
  font-size: 1.2em;
}

fieldset {
  margin: 0;
}

input[type="submit"], input[type="button"],
input[type= "reset"], button, a.button {
  background-color: $link_text_color;
  background-image: none;
  text-shadow: none;
  color: $layout_background_color;
  font-weight: bold;
  font-size: $button_font_size;
  font-family: $ff_base;
  border: 1px solid $button_border_color;
  padding: 6px 10px 5px;
  vertical-align:  top;

  -webkit-font-smoothing: antialiased;

  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
   -khtml-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
       -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
          box-shadow: inset 0 1px 0 rgba(255,255,255,0.4);
  -webkit-border-radius: 0px;
   -khtml-border-radius: 0px;
     -moz-border-radius: 0px;
      -ms-border-radius: 0px;
       -o-border-radius: 0px;
          border-radius: 0px;

  &.large {
    padding: 7px 10px;
    font-size: $button_font_size + 2;
  }

  &.gray {
    background-color: lighten($body_text_color, 20);
    border-color: lighten($body_text_color, 10);
  }

  &:hover {
    background-image: none;
    background-color: $body_text_color;
    border-color: $body_text_color;
    color: $layout_background_color;
  }
}

.ie8 {
  a.button {
    line-height: 16px;
  }
}

input[type="checkbox"], label {
  vertical-align: middle;
}

a.button {
  display: inline-block;
  line-height: 15px;
  margin-top: -2px;
  vertical-align: bottom;
}

/*--------------------------------------*/
/* Footer
/*--------------------------------------*/
footer#footer {
  margin-top: 30px;
  border-top: $default_border;
  padding-top: 30px;
  font-size: 14px;
  line-height: 24px;

  &, a, h5 {

  }

  a:hover {
    color: lighten($c_green, 30) !important;
  }

  h5 {
    text-transform: uppercase;
    line-height: 52px;
    margin-bottom: 23px;
    font-size: 17px;
  }

  p {
    padding-top: 0;
  }

  ul {
    list-style: none;

    li {

    }
  }
}



/*--------------------------------------*/
/* Paragraphs
/*--------------------------------------*/
p {
  padding: 10px 0;
}

/*--------------------------------------*/
/* Navigation
/*--------------------------------------*/
nav #main-nav-bar {
  font-weight: bold;
  margin-top: 20px;
  border-bottom: $default_border;
  padding-bottom: 6px;

  li {
      float: right;
      padding-left: 24px;

    &:hover {
        border-color: $link_text_color;
    }

    a {
      font-weight: normal;
      font-size: $horizontal_navigation_font_size;
      padding: 5px;
    }
  }
}

/*--------------------------------------*/
/* Flash notices & errors
/*--------------------------------------*/
.flash {
  padding: 10px;
  color: $layout_background_color;
  font-weight: bold;
  margin-bottom: 10px;

  &.notice {
    background-color: $link_text_color;
  }
  &.success {
    background-color: $c_green;
  }
  &.error {
    background-color: $c_red;
  }
}

.errorExplanation {
  @extend .flash.error;
  @extend .flash;

  p {
    font-weight: normal;
  }

  ul {
    list-style: disc outside;
    margin-left: 30px;

    li {
      font-weight: normal;
    }
  }
}
