<div class="form-buttons filter-actions actions">
  <%= button 'Update', 'icon-refresh' %>
  <span class="or">or</span>
  <%=  link_to_with_icon 'icon-remove', 'Cancel', admin_users_path, class: 'button' %>
</div>
